@model AttendanceViewModel
@{
    ViewData["Title"] = "CIDM 3312 01";

    List<SelectListItem> studentDropdownData = new List<SelectListItem>();

    var studentList = (IEnumerable<Student>)ViewData["StudentList"];
    foreach (var Student in studentList)
    {
        studentDropdownData.Add(new SelectListItem()
        {
            Text = Student.LastName + ", " + Student.FirstName,
            Value = Student.ID.ToString()
        });
    }

}
<h2>CIDM 3312 01</h2>
<p><a href="/attendance/?rm=sum&amp;u=CIDM&amp;n=3312&amp;e=01">Choose a student to view their attendance for the course.</a></p>
<div>
    <form asp-controller="Meetings" asp-action="Attend" method="post">
        @Html.DropDownListFor(s => s.StudentID, studentDropdownData)
        <br />
        <input type="submit" value="submit" title="Attend" />
    </form>
</div>